body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(238, 237, 237, 0.438);
    color: rgb(105, 104, 104);
    font-family: sans-serif;
}
.container
{
    width: fit-content;
}
.card{
    padding: 1rem 3rem 1rem 20rem;
    margin: 1rem;
    border-radius: 1.5rem;
    border-color: rgba(238, 237, 237, 0.438);
    box-shadow: 5px 8px 10px #80808033;
}
@media(max-width:767px){
    .card{
        height: 10rem;
        padding: 1.5rem 1.5rem 1rem 1.5rem;
    }
    input {
        padding: 1rem;
        border-radius: 25px;
        border: none;
        background-color: #fff;
        font-family: inherit;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        min-width: 767px;
        font-size: 1rem;
    }
    input:focus {
        outline: none;
    }
}
@media(max-width:1000px){
    .card{
        height: 10rem;
        padding: 1.5rem 1.5rem 1rem 1.5rem;
    }
    input {
        padding: 1rem;
        border-radius: 25px;
        border: none;
        background-color: #fff;
        font-family: inherit;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        min-width: 767px;
        font-size: 1rem;
    }
    input:focus {
        outline: none;
    }
}
@media(max-width:1929px){
    .card{
        height: 10rem;
        padding: 1.5rem 1.5rem 1rem 2.5rem;
    }
    input {
        padding: 1rem;
        border-radius: 25px;
        border: none;
        background-color: #fff;
        font-family: inherit;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        min-width: 767px;
        font-size: 1rem;
    }
    input:focus {
        outline: none;
    }
}
.carousel-indicators li {
    width: 5px;
    height: 6px;
    border-radius: 100%;
    opacity: 0.2;
    background-color: #000000;
}
.carousel-indicators{
    margin-bottom: 0;
}
.temp{
    font-size: 5rem;
    color: rgb(57, 57, 58);
    text-align: center;
}
.card-1{
    background: linear-gradient(to right, #ffffff 50%, rgba(241, 224, 190, 0.507));
}
@media(max-width:767px)
{
    .temp{
        font-size: 3rem;
        text-align: left;
    }
    input {
        padding: 1rem;
        border-radius: 25px;
        border: none;
        background-color: #fff;
        font-family: inherit;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        min-width: 767px;
        font-size: 1rem;
    }
    input:focus {
        outline: none;
    }
}
.location{
    margin-bottom: 1.5rem;
}
@media(max-width:767px)
{
    .location{
        font-size: 0.75rem;
    }
    input {
        padding: 1rem;
        border-radius: 25px;
        border: none;
        background-color: #fff;
        font-family: inherit;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        min-width: 767px;
        font-size: 1rem;
    }
    input:focus {
        outline: none;
    }
}
.img-fluid{
    float: right;
    width: 65%;
    display: flex;
    align-items: center;
}
.row2 .img-fluid{
    margin: 10% 0;
    opacity: 0.5;
    width: 40%;
}
.card-2 .row{
    justify-content: center;
}
.card-3 .row{
    justify-content: center;
}
.row1{
    font-size: 0.7rem;
    font-weight: bold;
    color: black;
}
.row3{
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
}
@media(max-width:400px)
{
    .row3{
        font-size: 0.7rem;
        font-weight: bold;
        color: black;
    }
    input {
        padding: 1rem;
        border-radius: 25px;
        border: none;
        background-color: #fff;
        font-family: inherit;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        min-width: 400px;
        font-size: 1rem;
    }
    input:focus {
        outline: none;
    }
}
@media(max-width:320px)
{
    .row3{
        font-size: 0.6rem;
        font-weight: bold;
        color: black;
    }
    input {
        padding: 1rem;
        border-radius: 25px;
        border: none;
        background-color: #fff;
        font-family: inherit;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        min-width: 320px;
        font-size: 1rem;
    }
    input:focus {
        outline: none;
    }
}
.row4{
    font-size: 0.6rem;
    color: rgb(196, 196, 196);
    margin: 5% 0 2.5rem;
}
.card-3 .row3{
    margin: 5% 0 2.5rem;
}
.col{
    overflow: visible;
}
.row{
    overflow: visible;
}

.my-button{
    /* Adding the rounded corners */
    border-radius: 60px;

    border: 2px solid #000;
    padding: 10px 20px;
    background: white;
    font-size: 1.5em;
    cursor: pointer;
}
input {
    padding: 1rem;
    border-radius: 25px;
    border: none;
    background-color: #fff;
    font-family: inherit;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    min-width: 452px;
    font-size: 1rem;
}
input:focus {
    outline: none;
}